*{
    margin: 0;
    padding: 0;
    text-align: center;
}

.container{
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main aside"
    "footer footer footer footer";
    grid-template-rows: 2fr 2fr 15fr 1fr;
    grid-template-columns: 2fr 2fr 1fr 3fr;
}
.header{
    grid-area: header;
    background-color: coral;
}
.nav{
    grid-area: nav;
    background-color: darkgreen;
}
.main{
    grid-area: main;
    background-color: yellow;
}
.aside{
    grid-area: aside;
    background-color: red;
}
.footer{
    grid-area: footer;
    background-color: darkviolet;
}

@media screen and (max-width: 460px) { 
    body{
        grid-template-areas: 
        "header header header header"
        "nav nav nav nav"
        "main main main main"
        "aside aside aside aside"
        "footer footer footer footer";
    }
  }